<section class="header-section">
  <mat-toolbar>
    <a>
      <mat-icon>
        <img
          src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg"
          alt="logo"
        />
      </mat-icon>
      <span class="mat-title">Insolutions Global</span>
    </a>
    <span class="spacer"></span>
    <button mat-mini-fab aria-label="Example icon button with a menu icon">
      <mat-icon>light_mode</mat-icon>
    </button>
    <button mat-fab extended>
      <mat-icon>person</mat-icon>
      Sign in
    </button>
  </mat-toolbar>
</section>
